<section class="hero-slider-section">
<!--  <app-splide-slider [slides]="heroSlides" type="hero"></app-splide-slider>-->
</section>


<!--<div class="swiper">-->
<!--  <div class="swiper-wrapper">-->
<!--    <div *ngFor="let slide of getImages(parts[0].images);let index = index" class="swiper-slide">-->
<!--      <img class="slide" [src]="slide">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<section class="orders-section">
  <div class="section-title-row">
    <h2>Топ заказов</h2>
    <a routerLink="/catalog" class="catalog-link">Посмотреть каталог</a>
  </div>
  <div class="car-list">
    <div
      *ngFor="let part of parts"
      class="car-card"
      [routerLink]="['/car', part.id]"
      style="cursor: pointer"
    >
      <app-splide-slider [slides]="getImages(part.images)"></app-splide-slider>

      <div class="main">
        <div class="brand">{{ part.boiler_manufacturer }}</div>
        <div class="model">{{ part.name }}</div>
        <div class="row">
          <span>Пробег: {{ part.Mileage }}</span>
          <span>Двигатель: {{ part.Engine }}</span>
        </div>
        <div class="row">
          <span>Трансмиссия: {{ part.Transmission }}</span>
          <span>Привод: {{ part.Drive }}</span>
        </div>
        <div class="row">
          <span>Год: {{ part.Year }}</span>
          <span class="price">{{ part.price | number }} $</span>
        </div>
      </div>
    </div>
  </div>
</section>
