.sidebar-menu {
  list-style: none;      // убирает точки
  padding: 0;            // убирает отступы
  margin: 0;
}
.icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.2s;
}
.sidebar-menu li.active .icon,
.sidebar-menu li:hover .icon {
  color: #ffe600;
}
.sidebar-menu li {
  display: flex;
  flex-direction: column;        // если хочешь текст под иконкой (как на скрине-примере)
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 28px;
  color: #fff;
  transition: color 0.2s;
  font-size: 13px;
  min-height: 52px;
}

.sidebar-menu li span {
  margin-top: 6px;              // чуть отодвинуть текст от иконки
  font-size: 12px;
  color: #fff;
}

.sidebar-menu li:hover,
.sidebar-menu li.active {
  color: #ffe600;
}

.sidebar-menu li:hover .icon,
.sidebar-menu li.active .icon,
.sidebar-menu li:hover span,
.sidebar-menu li.active span {
  color: #ffe600;
}

.icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-menu span {
  font-size: 12px;
  color: #fff;
}
.sidebar-menu li.active span,
.sidebar-menu li:hover span {
  color: #ffe600;
}
